---
import '../styles/tokens.css';
---
<html lang="de">
<head><meta charset="utf-8" /><meta name="viewport" content="width=device-width" /><title>Podcast</title></head>
<body>
<main class="max-w-4xl mx-auto p-4">
<h1 class="text-3xl font-semibold mb-4">Podcast – Schnauze tierisch voll!</h1>
<div class="aspect-[16/10] w-full">
<iframe src="https://www.listennotes.com/podcasts/schnauze-tierisch-voll-pia-xo36J5PzBWH/embed/" height="600px" width="100%" style="width:1px; min-width:100%;" loading="lazy" frameborder="0" scrolling="no"></iframe>
</div>
<p class="mt-4 text-sm text-neutral-600">Hör auch auf <a class="underline" href="https://open.spotify.com/show/06YvSlRFL0GZsadPR3U6dV?si=7a2d8591f9f64c7c" target="_blank">Spotify</a> oder <a class="underline" href="https://podcasts.apple.com/lt/podcast/schnauze-tierisch-voll/id1838526138" target="_blank">Apple Podcasts</a>.</p>
</main>
</body>
</html>
